@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.hero {
  background: url(./images/hero-bg.svg) top center no-repeat;
  background-size: cover;
}

.footer {
  background: url(./images/footer.svg) top center no-repeat;
  background-size: cover;
}

.cta {
  background: linear-gradient(rgba(2,2,2,.7),rgba(0,0,0,.7)),url(https://images.unsplash.com/photo-1497215728101-856f4ea42174?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) fixed center center;
}

.from_input {
  background: transparent;
  border-bottom: 1px solid aliceblue;
  padding: 15px;
  color: white;
  margin-bottom: 15px;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  background: #f3f4f6 !important;
  border-radius: 5px !important;
  bottom: -1px;
  position: relative;
  font-family: 'Lato' !important;
  list-style: none;
  padding: 18px 12px !important;
  cursor: pointer;
}

.react-tabs__tab:hover{
  background: #a5a5a561 !important;
  color: white;
}

.react-tabs__tab--selected {
  background: #a5a5a561 !important;
  border: 1px solid black !important;
  color: black !important;
}

.react-tabs__tab:focus:after {
  background: transparent !important;
}


.box_shadow{
  box-shadow: 1px 3px 12px #747474;
}